@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,vietnamese);*/

/*@font-face{
    font-family: 'WebFont';
    src: url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,vietnamese);
}*/

/*
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
*/

@mixin main-font{
    font:{
        /*family: 'Open Sans', sans-serif;*/
        family: 'Roboto', sans-serif;
        size: 100%;
        weight: normal;
    }
}

@mixin phone-number($size, $weight){
    font:{
        family: 'Lora', serif;
        size: $size;
        weight: $weight;
    }
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($second){
    -webkit-transition: all $second ease 0s;
    -moz-transition: all $second ease 0s;
    transition: all $second ease 0s;
}

@mixin border($width, $type, $color){
    border: $width $type $color;
}

@mixin header-part($div-logo, $logo-width, $font-size){
    #header{
        nav{
            #logo{
                @if $div-logo != ''{
                    width: $div-logo;
                }
                @if $logo-width != ''{
                    .navbar-brand{
                        img: $logo-width;
                    }
                }
            }
            ul{
                li{
                    a{
                        @if $font-size != ''{
                            font-size: $font-size;
                        }
                    }
                }
            }
        }
    }
}

@mixin product-top-middle($margin){
    .product{
        .row{
            div.prod-block{
                &:nth-child(2){
                    margin: $margin;
                }
            }
        }
    }
}

@mixin information-header($border-color){
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: $border-color $border-color -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}

$white: #fff;
$black: #000;
$bg-primary: #fff;
$color-primary: #666;
$hot-top-bg: #CCCC00; //#AFAF4D;
$menu-bg: #FFFF00;
$menu-color: #33CC00;
$menu-color-normal: lighten($menu-color, 5%);
$menu-color-active: $menu-color;
$brand-color: #ff0000;
$border-color: #e7e7e7;
$h-color: #363f45;