@import "_config";

@import "mf-1-min-320.scss";
@import "mf-2-min-480.scss";
@import "mf-3-min-768.scss";
@import "mf-4-min-992.scss";
@import "mf-5-min-1200.scss";

.nopadding{
    padding: 0;
}
body{
    @include main-font;
    background: $bg-primary;
    color: $color-primary;
}
h1,h2,h3,h4,h5,h6{
    color: $h-color;
    margin-top: 0;
}
.hot-top{
    /*background: $hot-top-bg url('../images/bg/grid.png');*/
    background: $hot-top-bg;
    color: $white;
    ul{
        list-style-type: none;
        margin-bottom: 0;
        li{
            vertical-align: middle;
            display: inline-block;
            padding: 5px 20px;
            i{
                vertical-align: middle;
            }
            .hotline{
                @include phone-number(24px, 300);
                vertical-align: middle;
            }
        }
    }
}

#header{
    background: $menu-bg;
    #logo{
        #menu-toggle{
            .navbar-toggle{
                border: 1px solid $menu-color;
                &:hover{
                    background-color: $menu-color-normal;
                    .icon-bar{
                        background-color: $white;
                    }
                }
                .icon-bar{
                    background-color: $menu-color;
                }
            }
        }
        .navbar-brand{
            padding: 0;
        }
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        &.navbar-oil{
            margin-bottom: 0;
            background-color: $menu-bg;
            border: none;
        }
        ul{
            display: inline-block;
            float: right;
            margin: 0px 0 0;
            padding: 0;
            list-style-type: none;
            li{
                display: inline-block;
                position: relative;
                line-height: 24px;
                a{
                    @include transition(0.3s);
                    /*background: $menu-bg;*/
                    font-weight: 700;
                    color: $menu-color-normal;
                    font-size: 16px;
                    display: block;
                    padding: 20px 10px;
                    &:before{
                        @include transition(0.3s);
                        background: $menu-color-normal;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 6px;
                        left: 0;
                        position: absolute;
                        right: 0;
                        width: 0;
                    }
                    &:hover{
                        text-decoration: none;
                        color: $menu-color;
                    }
                    &.active:before, &:hover:before{
                        @include transition(0.3s);
                        width: 100%;
                    }
                    &.active{
                        color: $menu-color-active;
                    }
                    &.nav-title{
                        display: block;
                        position: relative;
                        text-transform: capitalize;
                        z-index: 1;
                    }
                    span{
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}
/*------------------- sidebar*/
ul.m-sidebar{
    display: none;
    list-style-type: none;
    padding-left: 0;
    width: 170px;
    li{
        display: block;
        position: relative;
        line-height: 24px;
        a{
            @include transition(0.3s);
            background: $menu-bg;
            font-weight: 700;
            color: $menu-color-normal;
            font-size: 16px;
            display: block;
            padding: 20px 10px;
            &:before{
                @include transition(0.3s);
                background: $white;
                bottom: 0;
                content: "";
                display: block;
                height: 6px;
                left: 0;
                position: absolute;
                right: 0;
                width: 0;
            }
            &:hover{
                text-decoration: none;
                color: $menu-color;
            }
            &.active:before, &:hover:before{
                @include transition(0.3s);
                width: 100%;
            }
            &.active{
                color: $menu-color-active;
            }
            &.nav-title{
                display: block;
                position: relative;
                text-transform: capitalize;
                z-index: 1;
            }
            span{
                text-align: center;
                display: block;
            }
        }
    }
}

/*-------------- carousel*/
.carousel-control{
    &.left{
        background-image: none;
    }
    &.right{
        background-image: none;
    }
}

.product{
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: $white;
        text-decoration: none;
        article{
            &.item{
                position: relative;
                .prod-title{
                    bottom: 0;
                    position: absolute;
                    background: rgba(0,0,0,0.75);
                    padding: 6px;
                    text-align: center;
                    width: 100%;
                    h1{
                        font-size: 16px;
                        color: $white;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.information{
    .module-info{
        header{
            @include information-header(#e9e8e8);
            .module-title{
                box-sizing: border-box;
                margin-bottom: 0;
                padding: 10px 30px;
                span{
                    font-size: 20.02px;
                    line-height: 40.08px;
                    text-transform: uppercase
                }
            }
        }
        .mod-article{
            .item-info{
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid #e9e8e8;
                box-sizing: border-box;
                overflow: hidden;
                padding: 25px 30px;
                font-size: 1.5em;
            }
        }
    }
}