@import "_config";
@import "remove-outline.scss";
@import "jssor.scss";

@import "mf-1-min-320.scss";
@import "mf-2-min-480.scss";
@import "mf-3-min-768.scss";
@import "mf-4-min-992.scss";
@import "mf-5-min-1200.scss";

$nopadding: (left: 0, right: 0, top: 0, bottom: 0);
@each $name, $value in $nopadding{
    .nopadding-#{$name} {
        padding-#{$name}: $value;
    }
    .nomargin-#{$name}{
        margin-#{$name}: $value;
    }
}
.nopadding{
    padding: 0;
}
.nomargin{
    margin: 0;
}
body{
    @include main-font;
    background: $bg-primary;
    color: $color-primary;
}
h1,h2,h3,h4,h5,h6{
    color: $h-color;
    margin-top: 0;
}
p{
    font-size: 1.143em;
}

$h-font-size: (h2: 20.02px);
@each $name, $value in $h-font-size{
    #{$name} {
        font-size: $value;
    }
}

.inline-block{
    display: inline-block;
}

$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);
@each $name, $value in $margins {
    .margin-top-#{$name} {
        margin-top: $value;
    }

    .margin-bottom-#{$name} {
        margin-bottom: $value;
    }
}

$paddings: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem, xxl: 3rem);
@each $name, $value in $paddings {
    .padding-top-#{$name} {
        padding-top: $value;
    }

    .padding-bottom-#{$name} {
        padding-bottom: $value;
    }

    .padding-left-#{$name} {
        padding-left: $value;
    }

    .padding-right-#{$name} {
        padding-right: $value;
    }

    .padding-lt-rt-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
}
/*----------------------------------------------------------------------------*/
.hot-top{
    /*background: $hot-top-bg url('../images/bg/grid.png');*/
    background: $hot-top-bg;
    color: $white;
    ul{
        list-style-type: none;
        margin-bottom: 0;
        li{
            vertical-align: middle;
            display: inline-block;
            padding: 5px 20px;
            i{
                vertical-align: middle;
            }
            .hotline{
                @include phone-number(24px, 300);
                vertical-align: middle;
            }
        }
    }
}

#nav{
    &.affix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index:10;
    }
}
.sticky {
    position:fixed;
    top:0;
    z-index: 10;
    width: 100%;
}
.menu-padding{
    padding-top:40px;
}
.header{
    background: $menu-bg;
    #logo{
        #menu-toggle{
            .navbar-toggle{
                border: 1px solid $menu-color;
                &:hover{
                    background-color: $menu-color;
                    .icon-bar{
                        background-color: invert($menu-color);
                    }
                }
                .icon-bar{
                    background-color: $menu-color;
                }
            }
        }
        .navbar-brand{
            padding: 0;
        }
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        &.navbar-oil{
            margin-bottom: 0;
            background-color: $menu-bg;
            border: none;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            border-radius: 0;
        }
        ul{
            display: inline-block;
            float: right;
            margin: 0px 0 0;
            padding: 0;
            list-style-type: none;
            position: relative;
            z-index: 5;
            li{
                display: inline-block;
                /*position: relative;*/
                line-height: 24px;
                a{
                    @include transition(0.3s);
                    /*background: $menu-bg;*/
                    font-weight: 700;
                    color: $menu-color-normal;
                    font-size: 16px;
                    display: block;
                    padding: 20px 10px;
                    &:before{
                        @include transition(0.3s);
                        background: $menu-color;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 6px;
                        left: 0;
                        position: absolute;
                        right: 0;
                        width: 0;
                    }
                    &:hover{
                        text-decoration: none;
                        color: $menu-color;
                    }
                    &.active:before, &:hover:before{
                        @include transition(0.3s);
                        width: 100%;
                    }
                    &.active{
                        color: $menu-color-active;
                    }
                    &.nav-title{
                        display: block;
                        position: relative;
                        text-transform: capitalize;
                        z-index: 5;
                    }
                    span{
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}

ul.top-menu{
    position:relative;
    z-index: 100;
    li{
        position: relative;
        ul{
            @include transition(0.3s);
            background: $white;
            border: medium none;
            box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.15);
            position: absolute;
            opacity: 0;
            &.right{
                right: 0;
                padding: 0;
            }
            li{
                float: none;
            }
            a{
                text-transform: capitalize;
                white-space: nowrap;
                &:before{
                    height: 0;
                }
            }
        }
    }
    li:hover{
        ul{
            opacity: 1;
            a{
                padding: 5px 10px;
                line-height: 1.2em;
            }
        }
    }
}

/*------------------- sidebar*/
ul.m-sidebar{
    display: none;
    list-style-type: none;
    padding-left: 0;
    width: 170px;
    li{
        display: block;
        position: relative;
        line-height: 24px;
        a{
            @include transition(0.3s);
            background: $menu-bg;
            font-weight: 700;
            color: $menu-color-normal;
            font-size: 16px;
            display: block;
            padding: 20px 10px;
            &:before{
                @include transition(0.3s);
                background: $menu-color;
                bottom: 0;
                content: "";
                display: block;
                height: 6px;
                left: 0;
                position: absolute;
                right: 0;
                width: 0;
            }
            &:hover{
                text-decoration: none;
                color: $menu-color;
            }
            &.active:before, &:hover:before{
                @include transition(0.3s);
                width: 100%;
            }
            &.active{
                color: $menu-color-active;
            }
            &.nav-title{
                display: block;
                position: relative;
                text-transform: capitalize;
                z-index: 1;
            }
            span{
                text-align: center;
                display: block;
            }
        }
    }
}
.sidr{
    background: $menu-bg;
    box-shadow: none;
}
.sidr ul{
    margin: 0;
}
.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span{
    box-shadow: none;
    line-height: 1.5em;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active{
    border-top: none;
}
.sidr ul li{
    border-top: none;
}
/*-------------- carousel*/
.carousel-control{
    &.left{
        background-image: none;
    }
    &.right{
        background-image: none;
    }
}

.product{
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: $white;
        text-decoration: none;
        article{
            &.item{
                position: relative;
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
                .prod-title{
                    bottom: 0;
                    position: absolute;
                    background: rgba(0,0,0,0.75);
                    padding: 6px;
                    text-align: center;
                    width: 100%;
                    h1{
                        font-size: 16px;
                        color: $white;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.information{
    .module-info{
        header{
            @include information-header(#e9e8e8);
            .module-title{
                box-sizing: border-box;
                margin-bottom: 0;
                padding: 10px 30px;
                span{
                    /*font-size: 20.02px;*/
                    line-height: 40.08px;
                    text-transform: uppercase
                }
            }
        }
        .mod-article{
            .item-info{
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid #e9e8e8;
                box-sizing: border-box;
                overflow: hidden;
                padding: 25px 30px;
            }
        }
    }
}

.accordion{
    .accordion-group{
        overflow: hidden;
        .accordion-heading{
            border-bottom: 0 none;
            a{
                text-decoration: none;
            }
            .accordion-toggle{
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid #e9e8e8;
                color: $accordion-normal-color;
                display: block;
                font: 400 16px/15px "Roboto",sans-serif;
                padding: 22px 40px 22px 30px;
                position: relative;
                &.selected{
                    color: $accordion-selected-color;
                    &::before{
                        content: "\f068";
                        color: $accordion-minus-color;
                    }
                    &::after{
                        background: $accordion-selected-color none repeat scroll 0 0;
                    }
                }
                &::before{
                    color: $accordion-selected-color;
                    content: "\f067";
                    font: 25px/25px "FontAwesome";
                    position: absolute;
                    right: 20px;
                    text-align: center;
                    transition: all 0.3s ease 0s;
                    width: 25px;
                }
                &::after{
                    background: transparent none repeat scroll 0 0;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: all 0.3s ease 0s;
                    width: 5px;
                }
                &::focus, &::hover{
                    color: $accordion-normal-color;
                    text-decoration: none;
                }
                &:hover, &:focus{
                    content: "\f068";
                    color: $accordion-normal-color;
                    text-decoration: none;
                }
                &:hover{
                    color: $accordion-selected-color;
                    &::before{
                        content: "\f068";
                        color: $accordion-minus-color;
                    }
                    &::after{
                        background: $accordion-selected-color none repeat scroll 0 0;
                    }
                }
            }
        }
        .accordion-body{
            &.collapsing{
                background: $accordion-body-bg none repeat scroll 0 0;
                padding: 15px 20px 15px 22px;
            }
            &.collapse{
                overflow: hidden;
                position: relative;
                transition: height 0.35s ease 0s;
                .accordion-inner{
                    background: $accordion-body-bg none repeat scroll 0 0;
                    border-bottom: 1px solid #e9e8e8;
                    border-left: 1px solid #e9e8e8;
                    border-right: 1px solid #e9e8e8;
                    padding: 15px 20px 15px 22px;
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}

#main-bottom{
    background: $main-bottom-bg;
    padding: 20px 0;
}

#bottom{
    background: $bottom-bg;
    padding: 20px 0;
    article{
        .item-content{
            i{
                color: lighten($bottom-bg, 10%);
            }
            h2{
                display: inline-block;
                padding-left: 10px;
                span{
                    color: $white;
                    text-transform: uppercase;
                }
            }
            .item-introtext{
                p{
                    color: $lighten-white;
                    a{
                        color: $lighten-white;
                    }
                }
            }
        }
    }
}

.map{
    position: relative;
    min-height: 350px;
    overflow: hidden;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        pointer-events: none;
    }
}

#footer-wrapper{
    background: $footer-bg;
    .copyright{
        text-align: center;
        color: $footer-color-link;
        .privacy_link{
            color: $footer-color-link;
            text-decoration: none;
        }
    }
}

#back-top{
    bottom: 90px;
    visibility: hidden;
    position: fixed;
    right: 20px;
    z-index: 99;
    &.cd-is-visible {
        @include transition(0.3s);
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }
    &.cd-fade-out {
        @include transition(0.3s);
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 0.5;
    }
    a{
        @include transition(0.3s);
        color: transparentize($hot-top-bg, 0.1);
        &:hover{
            color: $hot-top-bg;
        }
    }
}

.login-menu{
    color: $white;
    &:hover{
        color: $white;
    }
}

.prodcut-detail{
    .thumb-list{
        display: inline-block;
        vertical-align: top;
        ul.touch-list{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    display: block;
                }
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px solid $image-border-color;
                &.selected{
                    border: 1px solid $image-border-color-selected;
                }
            }
        }
    }
    .box-prod-info{
        .new-price{
            color: $new-price-color;
        }
        .text{
            border: 1px solid $image-border-color;
            width: 60px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }
        .quan-edit{
            width: 30px;
            height: 30px;
            border: 1px solid $image-border-color;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            line-height: 2em;
            i{
                color: $image-border-color-selected;
            }
        }
    }
    .image-block{
        border: 1px solid $image-border-color;
        display: inline-block;
        padding: 0;
        margin: 5px;
        width: 88%;
    }
    .prod-name{
        color: $menu-color;
    }
    .prod-detail{
        .prod-attr{
            color: $menu-color;
        }
    }
    .prod-img-features{
        a{
            padding: 5px;
            position: relative;
        }
    }
}

.btn-oil{
    border: 2px solid $menu-bg;
    color: $menu-bg;
    background: transparent;
    @include border-radius(0);
    @include transition(0.2s);
    outline: 0;
}

.btn-add-cart{
    font-family: FontAwesome;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid $btn-cart-border-color;
    color: $btn-cart-color;
    @include border-radius(0);
    @include transition(0.2s);
    &::before{
        content: "\f07a";
        padding-right: 10px;
    }
    &:hover{
        background: transparent;
        border: 1px solid $image-border-color-selected;
    }
    &.disabled{
        &::before{
            content: "\f110";
        }
        &:hover{
            cursor: default;
        }
    }
    &.added{
        &::before{
            content: "\f00c";
        }
    }
}

.product-all{
    .prod-cat{
        span{
            color: $menu-bg;
        }
        border-bottom: 2px solid $image-border-color-selected;
        padding: 15px;
        margin-bottom: 35px;
        font-size: 2em;
    }
    a{
        @include transition(0.5s);
        .prod-title{
            color: $menu-bg;
        }
        .prod-title{
            padding-top: 10px;
        }
        p{
            color: $black;
        }
        &:hover{
            background: lighten($menu-bg, 50%);
            display: block;
            p{
                color: $black;
            }
        }
    }
}

.top-about-us{
    .module-container{
        header{
            border: 1px solid $border-color;
            .module-title{
                padding: 15px 15px;
                margin: 0;
                span{
                    text-transform: uppercase;
                }
            }
        }
        .module-article{
            background: $white;
            border: 1px solid $border-color;
            padding: 25px 30px;
            box-sizing: border-box;
        }
    }
    .ref-post{
        .module-container{
            background: $menu-bg;
            padding: 40px 20px 40px 30px;
            header{
                border: none;
                .module-title-2{
                    color: $white;
                    margin: 0;
                    span{
                        text-transform: uppercase;
                    }
                }
            }
            .module-article-post{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        padding: 5px 0;
                        a{
                            color: $white;
                            display: block;
                            font-size: 1.2em;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.contact-info{
    .contact-info-form{
        width: 60%;
        margin: 0 auto;
        .form-group{
            position: relative;
            input[type="text"], textarea{
                @include border-radius(0);
            }
            .error{
                border-color: $error-text-color;
            }
            label{
                display: inherit;
                span{
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 1.2em;
                    color: $error-text-color;
                }
            }
            #re_name-error, #re_phone-error{
                span{
                    right: 20px;
                }
            }
            #re_content-error{
                span{
                    top: 55px;
                }
            }
        }
    }
}

@import "nmf-1-max-1200.scss";
@import "nmf-2-max-992.scss";
@import "nmf-3-max-768.scss";
@import "nmf-4-max-480.scss";
@import "nmf-5-max-320.scss";